<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>

        <!-- {/* STYLESHEETS */} -->
        <link rel='stylesheet' href="/stylesheets/bootstrap.min.css" /> <!-- MIN after implementation -->
        <link rel='stylesheet' href="/stylesheets/style.css" />


        <!-- {/* external fonts */} -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        
        <!-- {/* J-Query */} -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>

        <!-- {/* Scripts */} -->
        <!-- {/* <script src= /stylesheets/bootstrap.min.css' defer></script> */} -->
        <script src= "/javascripts/bootstrap.bundle.js" defer></script>
        <script src= "/javascripts/custom.js" defer></script>
  </head>

  <body>
    <nav id="navBar" class="navPadding nav nav-pills flex-column flex-sm-row" >
      <a class="nav-link active" aria-current="page" href=".." style="margin-right:2vw">Home</a>
      <a href="/blog/newPost" class="flex-sm-fill text-sm-center nav-link rainbow-button active"style="margin-right:2vw">Create Blog Posts</a>
      <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="/blog"style="margin-right:2vw">All Blogs</a>
    </nav>
  </body>

  <script src="/javascripts/navBar.js"></script>

</html>