<!DOCTYPE html>
<html>
<%- include('./_header.ejs') %>
<body style="padding:1vh">
    <h1><%= title %></h1>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Chuck Norris API</h5>
            <h6 class="card-subtitle mb-2 text-muted">Free API</h6>
            <p class="card-text">
                <div class="container">
                    <pre><code class="language-javascript">
let joke = null;
joke = await fetch("https://api.chucknorris.io/jokes/random", {
    //AWAIT für asynchrone requests
    //
    method: "get",
    body: JSON.stringify(body),
});
                    </code></pre>
                </div>
            </p>
            <a href="https://api.chucknorris.io/" class="card-link">API Link</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Random API</h5>
            <h6 class="card-subtitle mb-2 text-muted">Free Open Source API</h6>
            <p class="card-text">
                <div class="container">
                    Random Stuff API (RSA) is a powerful API developed by PGamerX, and it’s free to use as well as open-source. It can give AI-based responses, random jokes, memes, anime, animal images and much more!
                    <pre><code class="language-javascript">
const fetch = require('node-fetch');

const encodedParams = new URLSearchParams();
encodedParams.set('BotBirthMonth', 'March');
encodedParams.set('BotBirthPlace', 'India');
encodedParams.set('BotFavBook', 'Harry Potter');
encodedParams.set('BotGender', 'Male');
encodedParams.set('BotBirthDate', '1');
encodedParams.set('BotBirthYear', '2020');
encodedParams.set('BotMaster', 'Naman Sharma');
encodedParams.set('BotFavActor', 'Jim Carrey');
encodedParams.set('BotLocation', 'India');
encodedParams.set('BotBuild', 'Public');
encodedParams.set('BotFavBand', '1D');
encodedParams.set('BotFavActress', 'Emma Watson');
encodedParams.set('BotFavColor', 'Black');
encodedParams.set('BotFavArtist', 'Eminem');
encodedParams.set('BotName', 'Black Sheep');
encodedParams.set('BotAge', '19');
encodedParams.set('BotCompany', 'PGamerX');
encodedParams.set('BotEmail', 'admin@pgamerx.com');

const url = 'https://random-stuff-api.p.rapidapi.com/ai/customize';
const options = {
    method: 'POST',
    headers: {
    'content-type': 'application/x-www-form-urlencoded',
    Authorization: 'q9Oh7Lg7J0Hd',
    'X-RapidAPI-Key': 'SIGN-UP-FOR-KEY',
    'X-RapidAPI-Host': 'random-stuff-api.p.rapidapi.com'
    },
    body: encodedParams
};

try {
    const response = await fetch(url, options);
    const result = await response.text();
    console.log(result);
} catch (error) {
    console.error(error);
}
                    </code></pre>
                </div>
            </p>
            <a href="https://rapidapi.com/pgamerxdev/api/random-stuff-api" class="card-link">API Link</a>
            <a href="/api2" method="POST" class="card-link">Try it</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>