<!DOCTYPE html>
<html>
  <%- include('./_header.ejs') %>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="container">
      <a href="/person" class="btn animated-button">Formular über Person</a>
      <a href="/blog/newPost" class="btn pulse-button">Create Blog Posts</a>
      <a href="/api2" class="btn api-button">Check out APIs</a>
    </div>
  </body>
</html>
